.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.color-1 { color: #e67e22; } /* Оранжевый */
.color-2 { color: #16a085; } /* Бирюзовый */
.color-3 { color: #d35400; } /* Тёмно‑оранжевый */
.color-4 { color: #8e44ad; } /* Тёмно‑фиолетовый */

h1 { font-size: 2{,}5em; }
h2 { font-size: 2em; }
h3 { font-size: 1{,}5em; }